@font-face
{
  font-family:'myfont2';


src:url(../webfonts/Raleway-Medium.ttf);

}
body
{
font-family:'myfont2';
}


* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #F0F0F0;
  font-size: 15px;
  color: #666;

}
.content {
  height: 200px;
}
a { text-decoration: none; }


.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}
.nav-fostrap {
    display: block;
    margin-bottom: 15px 0;
    background: #0068b1;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -ms-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -o-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    /* border-radius: 3px; */
}
.nav-fostrap ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: block;
}

.nav-fostrap li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  position: relative;
  font-size: 14;
  color: #def1f0;
  text-transform: uppercase;
}

.nav-fostrap li a {
  padding: 15px 15px;
  font-size: 14;
  color: #def1f0;
  display: inline-block;
  outline: 0;
  font-weight: 400;
}

.nav-fostrap li:hover ul.dropdown { display: block; }

.nav-fostrap li ul.dropdown {
  position: absolute;
  display: none;
  width: 200px;
  background: #2980B9;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  -ms-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  -o-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  padding-top: 0;
}

.nav-fostrap li ul.dropdown li {
  display: block;
  list-style-type: none;
}

.nav-fostrap li ul.dropdown li a {
  padding: 15px 20px;
  font-size: 15px;
  color: #fff;
  display: block;
  font-weight: 400;
}

.nav-fostrap li ul.dropdown li:last-child a { border-bottom: none; }

.nav-fostrap li:hover a {
  background:#053e6f;
  color: #fff !important;
}

.nav-fostrap li:first-child:hover a { border-radius: 3px 0 0 3px; }

.nav-fostrap li ul.dropdown li:hover a { background: rgba(0,0,0, .1); }

.nav-fostrap li ul.dropdown li:first-child:hover a { border-radius: 0; }

.nav-fostrap li:hover .arrow-down { border-top: 5px solid #fff; }

.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #def1f0;
  position: relative;
  top: 15px;
  right: -5px;
  content: '';
}
.title-mobile {
  display: none;
}
 @media only screen and (max-width:900px) {

.nav-fostrap {
  background: #fff;
  width: 200px;
  height: 100%;
  display: block;
  position: fixed;
  left: -200px;
  top: 0px;
  -webkit-transition: left 0.25s ease;
  -moz-transition: left 0.25s ease;
  -ms-transition: left 0.25s ease;
  -o-transition: left 0.25s ease;
  transition: left 0.25s ease;
  margin: 0;
  border: 0;
  border-radius: 0;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}
.title-mobile {
  position: fixed;
  display: block;
    top: 10px;
    font-size: 20px;
    left: 100px;
    right: 100px;
    text-align: center;
    color: #FFF;
}
.nav-fostrap.visible {
  left: 0px;
  -webkit-transition: left 0.25s ease;
  -moz-transition: left 0.25s ease;
  -ms-transition: left 0.25s ease;
  -o-transition: left 0.25s ease;
  transition: left 0.25s ease;
}

.nav-bg-fostrap {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 50px;
    margin: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    /* background: #03a9f400; */
    /* padding: 12px 0 0 10px; */
    -webkit-box-shadow: 0;
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -ms-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -o-box-shadow: 0;
    box-shadow: 0;
}

.navbar-fostrap {
  display: inline-block;
  vertical-align: middle;
  height: 50px;
  cursor: pointer;
  margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    padding: 12px;
}

.navbar-fostrap span {
  height: 2px;
  background: #000;
  margin: 5px;
  display: block;
  width: 20px;
}

.navbar-fostrap span:nth-child(2) { width: 20px; }

.navbar-fostrap span:nth-child(3) { width: 20px; }

.nav-fostrap ul { padding-top: 50px; }

.nav-fostrap li { display: block; }

.nav-fostrap li a {
  display: block;
  color: #505050;
  font-weight: 600;
}

.nav-fostrap li:first-child:hover a { border-radius: 0; }

.nav-fostrap li ul.dropdown { position: relative; }

.nav-fostrap li ul.dropdown li a {
  background: #2980B9 !important;
  border-bottom: none;
  color: #fff !important;
}

.nav-fostrap li:hover a {
  background: #03A9F4;
  color: #fff !important;
}

.nav-fostrap li ul.dropdown li:hover a {
  background: rgba(0,0,0,.1); !important;
  color: #fff !important;
}

.nav-fostrap li ul.dropdown li a { padding: 10px 10px 10px 30px; }

.nav-fostrap li:hover .arrow-down { border-top: 5px solid #fff; }

.arrow-down {
  border-top: 5px solid #505050;
  position: absolute;
  top: 20px;
  right: 10px;
}

.cover-bg {
  background: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
}
 @media only screen and (max-width:1199px) {

.container { width: 96%; }
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}


.succ-tab {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.succ-tab label {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  display: block;
  padding: 1rem 2rem;
  margin-right: 0.2rem;
  cursor: pointer;
  background: #e9e9e9;
  font-weight: bold;
  -webkit-transition: background ease 0.2s;
  transition: background ease 0.2s;
}

.succ-tab .tab {
  -webkit-box-ordinal-group: 100;
  -webkit-order: 99;
  -ms-flex-order: 99;
  order: 99;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: 100%;
  display: none;
  padding: 1rem;
  background: #fafafa;
}

.succ-tab input[type="radio"] {
  position: absolute;
  opacity: 0;
}

.succ-tab input[type="radio"]:checked + label { background: #fafafa;
    border: 1px solid #ccc;color: #b00000; }

.succ-tab input[type="radio"]:checked + label + .tab { display: block; }
 @media (max-width: 45em) {

.succ-tab .tab,  .succ-tab label {
  -webkit-box-ordinal-group: NaN;
  -webkit-order: initial;
  -ms-flex-order: initial;
  order: initial;
}

.succ-tab label {
  width: 100%;
  margin-right: 0;
  margin-top: 0.2rem;
}
}

.online-test .bb p a
{
  color: #fff;
}
.success-view ul
{
  list-style: disc;
}
.success-view li
{
    text-align: left;
    line-height: 35px;
}
.blue
{
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.blue h1 {
     font-size: 22px;
    padding: 10px;
    border-bottom: 2px dotted #ccc;
    color: #004873;
        text-align: center;
}
.blue button
{
     background: #82000082;
    padding: 10px;
    border: none;
    width:88%;
    color: #fff;
    margin-top: 34px;
    position: absolute;
    bottom: 11px;
    left: 11px;
}
 .blue button:hover
 {
    background: #820000;
 }  


.online-test .aa p
{
    font-size: 19px;
    color: #fff;
    padding: 25px;
    border-right:1px solid #fff;
}
.b-b1
{
    border-bottom:1px solid #c8c2c2;
}
.online-test .bb p:hover
{
  background: #961108;
}
.online-test .bb p
{
color: #fff;
    padding: 8px;
    font-size: 18px;
}
.smart-study button.bg11{
           background: #00446d;
  border: none;
    color: #fff;
    font-weight: 100;
    font-size: 15px;
    padding: 12px;
}
.smart-study button.bg22{
        background:#00609a;
       border: none;
    color: #fff;
    font-weight: 100;
    font-size: 15px;
    padding: 12px;
}
.ac2 {
    border-bottom: 1px solid #ccc;
    padding: 10px;
    height: 340px;
}
.online-test button {
    border: none;
    color: #fff;
    padding: 33px;
    background: #e7554c;
    border-right: 1px solid #cbcaca9c;
}
.smart div.bhoechie-tab-menu div.list-group>a {
    margin-bottom: 0;
    padding: 20px;
    font-size: 20px;
    float: left;
    width: 50%;
}
.achv img
{
    width: 100%;
    height: 250px;
    padding: 8px;
    margin-bottom: 10px;
    box-shadow: 0px 5px 11px #989898;
    object-fit: cover;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
}
.contact-w3-agile1 p
{
  line-height: 30px;
}
.mb-4, .my-4 {
    margin-bottom: 1.5rem!important;
}
.mt-4, .my-4 {
    margin-top: 1.5rem!important;
}
.offset-lg-2 {
    margin-left: 7.333333%;
}
.bg6
{
   background: url(../images/bg6.png);
}
.card-title {
margin-top: 20px;
    margin-bottom: 20px;
    font-size: 23px;
}
.blog2 .card-body
{
    background: #004d7c;
    padding: 10px;
    font-size: 13px;
    line-height: 28px;
    margin-top: 10px;
}

.blog1
{
      margin-top: 20px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}
.blog1 p
{
      padding: 10px;
}
.btn-blog {
    color: #fff;
    width: 25%;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.bg7
{
   background: url(../images/cont.jpg);
       padding-top: 50px;
    padding-bottom: 50px;
    height:550px;
        background-position: center;
}
.gal 
{
  padding-bottom: 100px;

}
.w3ls_gallery_grids img {
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0px 0px 11px #c1c1c1;
    height:250px;object-fit: cover;
        background: #fff;
}
.achv h4
{
padding: 10px;
}


.br
{
      border-right: 1px solid #ccc;
}
.q1
{
         background:#8c8b91ed;
    color: #fff;
}
.q1:hover
{
 background: #a14a00;
 cursor: pointer;
}
.q2
{
      background: #efefef;
}
.q2:hover
{
    background: #f3ff3f;
 cursor: pointer;
}
.inner
{
  text-align: center;
       color: #0067be;
    padding-top: 10px;
    font-size: 25px;
    text-transform: capitalize;
    font-weight: 600;
    margin: 0 auto;
    line-height: 1.5em;
    letter-spacing: 2px;
}
.vision
{
      margin-top: 80px;
          margin-bottom: 80px;
          padding:30px;
 background: url(../images/bg4.jpg); 
}
.directr
{
background: url(../images/bg5.jpg);
    height: 400px;
        background-size: cover;
  
    background-attachment: fixed;
}

.pt
{
  padding-top:50px;
}
.directr .img3 {
    width: 100%;
    
    border: 1px solid #fff;
    padding: 5px;
}
.directr p
{
    color: #000;
    line-height: 30px; 
}
.directr .inner {
   text-align: center;
    color: #00528c;
    font-size: 30px;
    text-transform: capitalize;
    font-weight: 600;
    margin: 0 auto;
    line-height: 1.5em;
    margin-bottom: 20px;
    letter-spacing: 2px;
}
.ac1
{
      border-bottom: 1px solid #ccc;
    padding: 10px;
    height: 500px;
}
.ach p
{
    line-height: 25px;
    text-align: justify;
    font-size: 12px;
}
.directr .pp
{
text-align: center;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
        font-size: 18px;
}
.a1
{
/*  border: 1px solid #ccc;*/
    margin-top: 30px;
    height:400px;
        margin-bottom: 30px;
}
.img3
{
  width:100%;
}
.about1
{
  margin-top:50px;
}
.about1 p
{

    font-size: 15px;
    line-height: 2.2;
    letter-spacing: 0.05em;

}

.new2 {
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    color: #888;
    margin: 1em auto;
        font-style: italic;
 
}

.main-wrapper
{
    margin-top: 150px;
    padding-top: 50px;
       

}


ul
{
    list-style: none;
}
.navbar-nav > li.active{
   background:#004873!important;   
} 
.navbar-nav > li.active a:hover{
   background:#004873!important;   
} 
/*------------------------
13.Price-Area
--------------------------*/


.price-main
{ margin-top: 50px;
    margin-bottom: 50px;
     background:url(../images/bg4.jpg); 
     padding: 100px;
}
.single-price {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 0 0 60px;
  text-align: center;
  transition: all 0.3s ease 0s;
  box-shadow: 0 2px 2px rgba(10, 16, 20, 0.24), 0 0 2px rgba(10, 16, 20, 0.12);  
}
.single-price:hover { 
  box-shadow: 0 8px 8px rgba(10, 16, 20, 0.24), 0 0 8px rgba(10, 16, 20, 0.12);
}
.price-title
{
   background:#e6e6e6bf;
}

.price-title > h4 {
  background:#a2a2a2 none repeat scroll 0 0;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 19px;
  padding: 20px 0;
  position: relative;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
}

.price-title > img
{
      width: 30%;
    margin-left: -120px;
    margin-right: 15px;

}

   
.text-large {
      font-size: 40px;
    font-weight: 500;
    line-height: 100px;
}
.price-list li {
  border-bottom: 1px solid #f6f6f6;
  color: #7a7a7a;
     font-size: 14px;
    font-weight: 500;
    line-height: 40px;
    border-bottom: 1px solid #cccccc73;
  text-transform:capitalize;
}
.price-list li:last-child {
  border: 0 none;
}
.price-btn {
  margin-top: 20px;
}
.price-btn button {
  background-color:#00609a;
  border: 1px solid #333;
  color: #fff;
  display: inline-block;
  font-size: 15px;
  font-weight: normal;
  padding: 11px 27px;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
}
.price-btn button:hover{
    background:#333;
    color:#fff;
    border: 1px solid #fff; 
}
.single-price:hover .price-btn button{
    background:#9a0505;
    color:#fff;
    border: 1px solid #fff; 
}
.single-price:hover .price-title > h4 {
    color:#fff;
    background:#514f4f none repeat scroll 0 0;
}
.price-dollar {
  font-size: 20px;
  font-weight: 700;
  margin-right: 5px;
  position: relative;
  top: -18px;
}
.single-price.active{
    box-shadow: 0 8px 8px rgba(10, 16, 20, 0.24), 0 0 8px rgba(10, 16, 20, 0.12);   
} 
.single-price.active .price-btn button{
    background:#16A085;
    color:#fff;
    border: 1px solid #fff; 
}
.single-price.active .price-title > h4{
    color:#fff;
    background:#16A085;
}








    .jssorl-009-spin img {
        animation-name: jssorl-009-spin;
        animation-duration: 1.6s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    @keyframes jssorl-009-spin {
        from { transform: rotate(0deg); }
        to { transform: rotate(360deg); }
    }

    .jssorb032 {position:absolute;}
    .jssorb032 .i {position:absolute;cursor:pointer;}
    .jssorb032 .i .b {fill:#fff;fill-opacity:0.7;stroke:#000;stroke-width:1200;stroke-miterlimit:10;stroke-opacity:0.25;}
    .jssorb032 .i:hover .b {fill:#000;fill-opacity:.6;stroke:#fff;stroke-opacity:.35;}
    .jssorb032 .iav .b {fill:#000;fill-opacity:1;stroke:#fff;stroke-opacity:.35;}
    .jssorb032 .i.idn {opacity:.3;}

    /*jssor slider arrow skin 051 css*/
    .jssora051 {display:block;position:absolute;cursor:pointer;}
    .jssora051 .a {fill:none;stroke:#fff;stroke-width:360;stroke-miterlimit:10;}
    .jssora051:hover {opacity:.8;}
    .jssora051.jssora051dn {opacity:.5;}
    .jssora051.jssora051ds {opacity:.3;pointer-events:none;}

.nav1 > li > a
{
  padding:0px!important;
}
.nav1 .form-control
{
border: none;  
}
.w3_address li{
    margin: 2px;
    font-size: 12px;
    letter-spacing: 1px;
}
.nav1 .create input
{
     color: #000;
    float: left;
    width:85%;
  }
.nav1 .create i
{

    float: right;
     width:15%;
         color: #ff7500;
    padding-top: 10px;
  } 

.navbar-header 
{
/*       margin: 0px auto!important;
    width: 30%;*/
}

.popular-section-wthree
{
    background: url(../images/bg3.jpg)  no-repeat; 
}

.img3
{
    width: 100%;

}

.con
{
        background: #6d6d6d1f;
    padding: 20px;
}

.b-r
{
    border-right:1px solid #cccccc59
}

.b-b
{
    border-bottom:1px solid #cccccc59
}

.res-no-padding {
    padding: 0px 0px 5px 0px;
        margin: 20px
}
.con
{
    font-weight: 700;
    /* margin: 10px; */
    border-right: 1px solid#dedede;
    padding: 10px;
    line-height: 30px;
    background: #fff;
}
button.tes
{
        background: #00b256!important;
    color: #fff !important;
    font-weight: 700 !important;
}

.border-line3 {
       background: #fff url(../images/12.png) center center no-repeat;
    height: 22px;
    margin-top: 0px;
    margin-bottom: 0;
}
.head
{
       color: #0056b5;
    text-align: center;
    padding-top: 15px;
}
.slider
{
  width: 100%;
  height: 420px;
  background: #fff;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
 
/*  margin-top: 60px;*/

}
.slider figure img{
  width:20%;
  float:left;
}
.slider figure
{
  position:relative;
  animation:15s slidy infinite;
  width: 500%;
}
@keyframes slidy
{
  0% { left: 0%; }
  20% { left: 0%; }
  25% { left: -100%; }
  45% { left: -100%; }
  50% { left: -200%; }
  70% { left: -200%; }
  75% { left: -300%; }
  85% { left: -300%; }
  100% { left: -400%; }
}

/* carousel */
#quote-carousel {
     padding: 0 10px 30px 10px;
    margin-top: 8px;
    text-align: center;
     height: 116px;
}
/* indicator position */
#quote-carousel .carousel-indicators {
  right: 50%;
  top: auto;
  bottom: -10px;
  margin-right: -19px;
}
/* indicator color */
#quote-carousel .carousel-indicators li {
  background: #c0c0c0;
}
/* active indicator */
#quote-carousel .carousel-indicators .active {
  background: #333333;
  height:10px;
  width:10px;
  margin-bottom:1px;
}
/* typography */

.testi1
{
    height: auto;
    padding: 10px 0px 0px 0px;
    background: #00609a26;
    border-left: 1px solid #ccc;
}

.testimonial{
    background: #fff;
    text-align: center;
    padding: 10px;
    margin: 0 15px 200px;
    position: relative;
}

.testimonial:before,
.testimonial:after{
    content: "";
    border-top: 40px solid #fff;
    border-right: 170px solid transparent;
    position: absolute;
    bottom: -40px;
    left: 0;
}

.testimonial:after{
    border-right: none;
    border-left: 170px solid transparent;
    left: auto;
    right: 0;
}

.testimonial .icon{
    display: inline-block;
    font-size: 40px;
    color: #bd986b;
    margin-bottom: 20px;
    opacity: 0.6;
}

.testimonial .description{
    color: #000;
    text-align: left;
    font-size: 13px;
    margin-bottom: 30px;
    opacity: 0.8;
    line-height: 25px;
}

.testimonial .testimonial-content{
       width: 100%;
    position: absolute;
    left: 0;
    top: 200px;
    height:200px;
}

.testimonial .pic{
    display: inline-block;
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 2px 2px #daad86;
    overflow: hidden;
    z-index: 1;
    position: relative;
}

.testimonial .pic img{
    width: 100%;
    height: auto;
}

.testimonial .title{
    font-size: 15px;
    font-weight: bold;
    color: #000;
    text-transform: capitalize;
    margin: 0 0 5px 0;
}

.testimonial .post{
    display: block;
    font-size: 14px;
    color: #ca5e00;
    padding-bottom:70px;
}

.foot

{
    background:#003167;
}
.foot ul
{
 list-style: none;
     margin-left: 10%;
}
.foot ul li
{
    float: left;
}

.foot ul li a
{
 padding-right: 20px;
    color: #868686;
}

.foot ul li a:hover
{
 
    color: #fff;
}






.testimonial_subtitle{
    color: #0aaa7a;
    font-size: 12px;
}
  .testimonial_btn{
    background-color: #373d4b !important;
    color: #fff !important;
 }
 .seprator {
    height: 2px;
    width: 56px;
    background-color: #0aaa7a;
    margin: 7px 0 10px 0;
}







.float-xs-right {
    float: right !important;
}
html, body{
    font-size: 100%;

	background:#ffffff;
	margin: 0;
}
p,ul li,ol li{
	margin:2px;
	font-size:14px;letter-spacing:1px;
}
h1,h2,h3,h4,h5,h6{
font-family: 'Roboto Condensed', sans-serif;
	margin:0;
}
ul,label{
	margin:0;
	padding:0;
}
body a:hover{
	text-decoration:none;
}
input[type="submit"],input[type="reset"],a,.w3_agile_service_more a i{
	-webkit-transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    -ms-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    transition:0.5s ease-in;
}
a:focus{
	outline:none;
}
.modal-title {
    font-size: 30px;
    text-align: center;
	text-transform:capitalize;
    font-weight: bold;
    color: #204b87;
    letter-spacing: 1px;
}
.modal-body p {
    margin: 15px 0 10px;
    color: #888;
    font-size: 1em;
    letter-spacing: 1px;
    line-height: 2em;
    text-align: center;
}
.modal-body h5 {
    font-size: 23px;
    text-align: center;
    font-weight: 600;
    color: #b06010;
    letter-spacing: 1px;
    margin-top: 1.3em;
}
.modal-body img {
    width: 100%;
}
/*-- banner --*/
.banner {
    margin: 0 auto;
    text-align: center;
	position:relative;
   
}
.banner img {
       margin: 0 auto;
    text-align: center;
    border: 7px solid #44c7f4;
}
.banner h2 {
      font-size: 3em;
    color: #fff;
    margin: 0em 0;
    letter-spacing: 6px;
}
.banner span {
    color:#b06010;
	letter-spacing:4px;
	font-size:0.9em;
	font-weight:100;
}
.slider-info p {
    font-size: 1.1em;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 7px;
    margin: 0em 0 2em 0;
}
.slider-info {
    padding-top: 13em;
}
.banner {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.banner ul { position: absolute; }

.banner ul li {
  width: 100%;
  height:650px;
  float: left;
  background: no-repeat center center;
  list-style:none!important;
}

.banner ul li:nth-child(1),.banner ul li:nth-child(2),.banner ul li:nth-child(3) {
          background:url(../images/banner.jpg) no-repeat center center!important;
		  background-size:cover;
		  min-height:650px;
        }
       .banner ul li:nth-child(2){
          background:url(../images/banner-1.jpg) no-repeat center center!important;
        }
		 .banner ul li:nth-child(3){
          background:url(../images/banner-2.jpg) no-repeat center center!important;
        }

.banner ol {
    width: 84px!important;
    height: 20px;
  /*--background: rgba(0,0,0,0.5);--*/
    position: absolute;
    right: 47%;
    margin-left: -40px!important;
    bottom: 70px;
    padding: 0 10px;
}
.banner ol li {
	list-style:none;
}
.banner ol li {
  width: 10px;
  height: 10px;
  float: left;
    margin:5px 5px;
    background: #b06010;
  border-radius: 50%;
  cursor: pointer;
  
    overflow: hidden;
}

.banner ol .current { background: rgba(255,255,255,1); }

.banner i {
     width: 32px;
    height: 66px;
  position: absolute;
  top: 50%;
  margin-top: -60px;
  cursor: pointer;
  border-radius:0px!important;
    display: none;
}

.banner .left {
  left: 60px;
  background:url(../images/left1.png) no-repeat 1px 14px;
}


.banner .right {
    right: 60px;
    background: url(../images/right1.png) no-repeat 1px 14px;
}
/*--.banner .left:hover, .banner .right:hover { background-color: rgba(0, 0, 0, 0.31); }--*/
/*--/banner_info --*/
.banner_wthree_agile_info {
    position: relative;
    text-align: center;
    margin: 14% auto 0;
    width: 60%;
    padding: 0 0 0 0em;
}
.banner_wthree_agile_info h3{
	color:#ffffff;
	font-size:3em;
	font-weight:300;
	line-height:1.4em;
}
.wthree_more {
    padding-left: 1em;
}
.wthree_more.wthree_more2 {
    padding: 0;
}
/*--//banner_info --*/
.wthree_more a{
	    padding: 10px 10px;
    border: 1px solid #204b87;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    position: relative;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    display: block;
    background: #204b87;
}
/* Wayra */
.button--wayra {
    overflow: hidden;
    width: 13%;
    -webkit-transition: border-color 0.3s, color 0.3s;
    transition: border-color 0.3s, color 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    text-align: center;
    margin-top:3em;
}
.button--wayra::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #b06010;
	z-index: -1;
	-webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
	transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
	-webkit-transform-origin: 0% 100%;
	transform-origin: 0% 100%;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s, background-color 0.3s;
	transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
}
.button--wayra:hover {
	color: #fff;
	border-color:#b06010;
}
.button--wayra.button--inverted:hover {
	color: #fff;
	border-color: #b06010;
}
.button--wayra:hover::before {
	opacity: 1;
	background-color:#b06010;
	-webkit-transform: rotate3d(0, 0, 1, 0deg);
	transform: rotate3d(0, 0, 1, 0deg);
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--wayra.button--inverted:hover::before {
	background-color: #fff;
}
.wthree_more.wthree_more2 a {
    text-align: center!important;
}
.wthree_more.wthree_more3 {
    padding: 0;
}
.wthree_more.wthree_more3 a {
    width: 30%!important;
}
/*-- //banner --*/
.banner1{
	background: url(../images/banner.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 300px;
    position: relative;
}
/*-- nav --*/
.navbar-default {
    background: none;
    border: none;
}
.navbar {
    margin-bottom: 0;
}
.navbar-collapse {
    padding: 0;
}
.navbar-right {
    margin-right: 0;
}


.navbar-default .navbar-nav > li > a {
    font-weight: 600;
    letter-spacing: 0;
}
.navbar-nav > li > a {
       margin: 7px;
    padding: 0 0 0.5em;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
}

nav.navbar.navbar-default {
}
.navbar-right {
    /*  margin: 0.8em 0 0;*/
}
.menu1
{
    background: #00609a;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #212121;
    background: none;
}
.navbar-default .navbar-nav > li > a {
    color: #212121;
}

.navbar-default .navbar-brand,.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #212121;
}
.popular-agileinfo .new {
    border: 1px solid #ccc;
    padding: 20px;
    HEIGHT: 260PX;
    font-size: 13px;
    text-align: center;
    box-shadow: 0px 3px 11px #ccc;
    margin-bottom: 10px;
    /* background: #048cff17; */
    background: #00609a;
    border-bottom: 8px solid #ff9900;
}
.popular-agileinfo .new:hover
{
   background: #000; 
}
.banner-silder
{
        margin-top: 160px;
}
.navbar-nav > li > a:hover
{
    background: #00609a!important;
    color: #f57300;

} 
.header-main
{
    height: 145px;
    z-index: 99999;
    width: 100%;
    background: #fff;
    position: absolute;
    box-shadow: 0px 0px 11px #000;
}
.navbar-brand {
       height:auto;
    font-size: .8em;
    line-height: 22px;
    letter-spacing: 2px;
/*    margin-left: 12em;*/
    margin-bottom: 13px;
    font-weight: 600;
    border-radius: 0;
    padding: 13px 0 0 0;
}
.navbar-brand span {
    padding: 0;
    display: block;
    font-size: 12px;
    color: #b06010;
    letter-spacing: 6px;
}
.navbar-brand i{
	font-style:normal;
	color: #204b87;
}
.navbar-right {
    float: none !important;
}
.navbar {
    border-radius: 0px;
}
.navbar-nav {
      /*margin: 0.8em 0 0 8em;*/
}
.agile_short_dropdown {
    border-radius: 0;
    background: #ffffff;
    text-align: center;
	padding:0;
	border: none;
}
.agile_short_dropdown li a{
	text-transform:uppercase;
	color:#212121;
	font-size:13px;
	font-weight:600;
	padding: .8em 0;
}
.agile_short_dropdown > li > a:hover{
    color: #fff;
    text-decoration: none;
    background-color:#204b87;
}
.w3ls_agile_header_inner {
    margin: 0 auto;
    text-align: center;
    /*width: 80%;*/
}
/*-- header --*/
.w3layouts_header_left{
	float:left;
}
.w3layouts_header_left p{
	color:#999;
	line-height:1.8em;
}
.w3layouts_header_right {
    width: 75.5%;
    margin: 0 auto;
}
.header {
    padding: 0.6em 0em;
    background: #0048a1;
}
.w3layouts_header_right ul li{
	display:inline-block;
	    color: #fff;
}
.w3layouts_header_right ul li:last-child{
	margin-left:2em;
}
.w3layouts_header_right ul li i{
	    color: #ffffff;
	padding-right:1em;
}
.w3layouts_header_left {
    float: left;
}
.w3layouts_header_right ul li a{
		    color: #fff;
	text-decoration:none;
}
.w3layouts_header_right ul li a:hover{
	color:#204b87;
}
.w3layouts_header_left ul li {
    display: inline-block;
    list-style: none;
    margin-right: 1em;
}
.w3layouts_header_left ul li a {
      color: #fff;
    padding: 0.5em 1em;
    font-size: 1.1em;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.w3layouts_header_left i {
    color: #ffcc3a;
}
.social_list_w3ls {
   margin-top:3em;
}
.social_list_w3ls i {
    width: 0;
    height: 0;
    margin: 0;
}
.social_list_w3ls a {
    display: inline-block;
    margin-right:36px;
    color: #fff;
}
.social_list_w3ls a:hover{
	color:#b06010;
}
.social_list_w3ls span {
    font-size: 1em;
}
/*-- //Juliet Styles --*/
.agileinfo_social_icons {
    float: right;
    margin: 0.5em 0em 0 0;
}
.agileits_social_list li{
	display:inline-block;
	    margin-right:5px;
}
.agileits_social_list li a{
	width: 30px;
    height: 30px;
    color: #fff;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    border-radius: 25px;
}
.agileits_social_list li a i{
	line-height:2.4em;
}
.agileits_social_list li a:hover{
	color:#b06010;
	border: 2px solid #b06010;
	background:none;
}
a.w3_agile_facebook{
	background:#3b5998;
	border:2px solid #3b5998;
}
a.agile_twitter{
	background:#1da1f2;
	border:2px solid #1da1f2;
}
a.w3_agile_dribble{
	background:#ea4c89;
	border:2px solid #ea4c89;
}
a.w3_agile_vimeo{
	background:#f26522;
	border:2px solid #f26522;
}
.w3_agile_banner_info{
    margin: 10em 0 0;
}
.agile_banner_info_grid{
   position: relative;
    padding: 2em;
    height: 300px;
    width: 25%;
}
.agile_banner_info_grid p{
	font-size: 3em;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.agile_banner_info_grid_pos{
	position: absolute;
    top: 35%;
    left: 10%;
    width: 230%;
}
.agile_banner_info_grid p span{
	color:#204b87;
}
/*-- //nav --*/
/*-- //banner --*/
h3.w3l_header, h2.w3l_header {
    text-align: center;
    color: #262c38;
    font-size:25px;
    text-transform: capitalize;
    font-weight: 600;
    margin: 0 auto;
    line-height: 1.5em;
    letter-spacing: 2px;
}
h3.w3l_header.two {
    color: #fff;
}
p.quia {
    display: block;
    color: #b06010;
    letter-spacing: 6px;
    margin-bottom: 1em;
    text-align: center;
    font-size: 1em;
}
/*-- popular --*/
.popular-section-wthree {
    padding: 5em 0;
}
.agileinfo-dot {
    background: url(../images/dott.png)repeat 0px 0px;
    background-size: 3px;
    -webkit-background-size: 3px;
    -moz-background-size: 3px;
    -o-background-size: 3px;
    -ms-background-size: 3px;
	padding:5em 0;
}
.jarallax {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.popular-agileinfo {
    text-align: center;
    margin-top: 30px;
}
.popular-agileinfo p {
    text-align: center;
    margin: 0.5em auto 0;
	color:#fff;
	line-height:2em;
}
p.bui {
     font-size: 14px;
    text-align: center;
    line-height: 30px;
    color: #888;
    margin: 1em auto;
    width: 66%;
}
.popular-agileinfo i.fa {
    font-size: 3em;
    color: #204b87;
    display: inline-block;
    text-decoration: none;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    transition: .5s all;
}
.border-line {
    background:url(../images/12.png) center center no-repeat;
    height: 40px;
    /* background: #ccc; */
}
.popular-agileinfo h4 {
      font-size: 16px;
    color: #ff9a52;
    margin: 1em 0;
    font-weight: 600;
    letter-spacing: 0.9px;
}
.popular-grid:hover i.fa{
    color: #b06010; 
	-webkit-transform: rotatey(180deg);
	-moz-transform: rotatey(180deg);
	-o-transform: rotatey(180deg);
	-ms-transform: rotatey(180deg);
    transform: rotatey(180deg);
}
.popular-agileinfo p{
	font-size:15px;
	line-height:1.8em;
	margin:0;
	/*color:#888;*/
	color:#ffffff;
}
/*-- //popular --*/
/* banner bottom */
.banner-bottom.mid-section-agileits {
     background: #700000;
    padding: 20px;
}
.bannerbottomleft {
       background: url(../images/2.jpg) no-repeat 0px 0px;
    background-size: cover;
    min-height: 200px;
}
.bannerbottomleft {
    padding: 0;
}
.home-agile-text {
    background: #3BC391;
    padding: 9em 5em;
    min-height: 714px;
}

.home-agile-text h4 {
    text-transform: uppercase;
    font-weight: bold;
    font-size:2em;
    line-height: 1.4em;
    margin-bottom: 0.5em;
    color: #111;
	letter-spacing:1px;
}
.home-agile-text p{
	line-height:2em;
    font-size: 1.2em;
    color: #fff;
    margin: 0.5em 0 2em 0;
}
.bannerbottomright {
    padding: 24px;
}
.bannerbottomright h3 {
     font-size: 18px;
    color: #fff;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    padding: 15px;
}
.bannerbottomright p{
  font-size: 14px;
    color: #dcffaa;
    margin-bottom: 2.5em;
    line-height: 2em;
}
.bannerbottomright h4 {
    font-size: 1.1em;
    margin: 2em 0 0;
    color: #eff2fb;
    letter-spacing: 2px;
}
.bannerbottomright i.fa {
    width: 45px;
    color: #ffffff;
}

/* //banner bottom */
/*-- team --*/
.team {
    padding: 5em 0;
}
.agile_inner_grids {
    margin-top: 4em;
}
.w3_agile_team_grids{
	margin:3em 0 0;
}
.w3_agile_team_grid_info h3 {
    font-size: 1.4em;
    color: #b06010;
    margin: 2em 0 1em 0;
    font-weight: 600;
    letter-spacing: 1px;
}
.w3_agile_team_grid_info p {
    color: #4f5667;
    margin-bottom: 1em;
    font-size: 1.1em;
    letter-spacing: 2px;
}
ul.team_icons_agile  li{
	display:inline-block;
	margin-right:1em;
}
.w3_agile_team_grid ul li:last-child{
	margin:0;
}
.w3_agile_team_grid_info{
text-align: center;
    padding: 2em 2em;
    width: 32%;
   
	    -webkit-transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    -ms-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    transition: 0.5s ease-in;
}

.w3_agile_team_grid_info:nth-child(2) {
    margin: 0 1%;
}
ul.team_icons_agile li a {
    color: #204b87;
    font-size: 1.2em;
}
ul.team_icons_agile {
    border-top:2px solid #252323;
    padding: 1.5em 0;
		    -webkit-transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    -ms-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    transition: 0.5s ease-in;
}
.w3_agile_team_grid_info:hover ul.team_icons_agile{
    border-top:2px solid #b06010;
}
ul.team_icons_agile li a:hover {
      color: #b06010;
}
ul.team_icons_agile li {
    display: inline-block;
    list-style: none;
    margin-right: 1em;
}
.w3_agile_team_grid_info img {
    border-radius:50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	margin:0 auto;
	text-align:center;
	width: 66%;
}
/*-- //team --*/

/*-- feedback --*/
.agileits-feedback-grids {
    margin-top: 4em;
}
.feedback {
    background: url(../images/11.jpg) no-repeat center fixed;
    background-size: cover;
    padding: 5em 0;
}
.feedback-heading h3{
	color:#FFFFFF;
}
.feedback-top{
    padding: 1em;
    background: rgba(255, 255, 255, 0.18);
	position:relative;
}
.feedback-top:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 27%;
    width: 0;
    height: 0;
    border-top: 9px solid rgba(227, 227, 227, 0.23);
    border-right: 9px solid transparent;
    border-left: 9px solid transparent;
    transform: rotate(0deg);
}
.feedback-top p{
	color:#FFFFFF;
	font-size:.9em;
	margin:0;
	line-height:1.8em;
}
.feedback-img{
    float: left;
    width: 28%;
}
.feedback-grids {
    margin: 2em auto 0;
    width: 65%;
}
.feedback-img img{
	width:100%;
}
.feedback-info {
    margin: 1em !important;
}
.feedback-img-info{
    float: left;
    width: 50%;
    margin-left: .5em;
}
.feedback-img-info h5{
    color: #ffffff;
    font-size: 1em;
    margin: 0;
    font-weight: 600;
}
.feedback-img-info p{
    color: #cecece;
    font-size: .9em;
    margin: 0;
}
/*-- //feedback --*/
/*-- Stats --*/
.numscroller {
	text-align:left;
	margin-left:84px;
}
.stats-info-1 {
      color: #700000;
    line-height: 30px;
}
.stats-info 
{
    text-align: justify;
}
.no-pad
{
    padding:0;
}
.stats-grid i {
	margin-bottom: 35px;
    padding: 21px 0 0 0;
    float: left;
    width: 85px;
    height: 85px;
    font-size: 40px;
    color:#b06010;
}
.stats-grid {
	font-size: 35px;
	font-weight: 600;
	color: #fff;
	margin-bottom: 10px;
}
p.stats-info {
    margin-top: 0px;
    color: #000;
}
.stats {
       padding: 20px;
}
/*-- //Stats --*/

/*-- footer --*/
.footer{
       background: url(../images/q2.jpg) no-repeat;
    padding: 40px;
    padding-bottom: 148px;
}
.agile_footer_grid h3,.wthree_footer_grid_right h3{
 font-size: 20px;
    color: #c90000;
    padding-bottom: 0px;
    position: relative;
    margin-bottom: 10px;
    letter-spacing: 1px;
    font-weight: 700;
}

.agile_footer_grid p{
	color:#999;
	line-height:2em;
	margin-bottom:2em;
}
.agileits_w3layouts_footer_grid_list li,.w3_address li{
	display:block;

}
.agileits_w3layouts_footer_grid_list li i{
	color:#204b87;
	padding-right:1em;
}
.agileits_w3layouts_footer_grid_list li a{
	color: #999;
    text-decoration: none;
    line-height: 1.5em;
}
.agileits_w3layouts_footer_grid_list li a:hover{
	color:#204b87;
}
.agileits_w3layouts_footer_grid_list li:last-child,.w3_address li:last-child{
	margin-bottom:0;
}
.w3_address li{
	color: #000000;
    font-weight: 700;
    font-size: 13px;
    background: #ffffffbd;

}
.w3_address li i {
    padding: .5em 0em;
    margin-right: 1.5em;
}
.w3_address li span {
    display: block;
    margin-left: 2.5em;
}
.w3_address li a{
    color: #015996;
    text-decoration: none;
}
.w3_address li a:hover{
    color: #fff;
    text-decoration: none;
}
.w3_agileits_footer_grids{
	margin:3em 0;
}
.wthree_footer_grid_right input[type="email"]{
	outline: none;
    padding: 12px;
    background: rgb(27, 27, 27);
    font-size: 1em;
    color: #fff;
    width: 70%;
    margin-right: 1em;
    border: none;
	letter-spacing:1px;
}
.wthree_footer_grid_right input[type="email"]::-webkit-input-placeholder{
	color:#ffff !important;
}
.wthree_footer_grid_right input[type="submit"]{
	outline: none;
    padding: 12px 0;
    background: #204b87;
    font-size: 1em;
    color: #fff;
    width: 20%;
    border: none;
}
.wthree_footer_grid_right input[type="submit"]:hover{
	background:#b06010;
}
.agileinfo_copyright p{
	color:#999;
	line-height:2em;
	text-align:center;
}
.agileinfo_copyright p a{
	color:#46ccff;
	text-decoration:underline;
}
.agileinfo_copyright p a:hover{
	color:#fff;
}
/*-- //footer --*/
.agileinfo_copyright {
    background: #272727;
    padding: 6px;
}
/*-- to-top --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 20px;
	right: 2%;
	overflow: hidden;
	z-index: 999; 
	width: 32px;
	height: 32px;
	border: none;
	text-indent: 100%;
	background: url(../images/arrow.png) no-repeat 0px 0px;
}
#toTopHover {
	width: 32px;
	height: 32px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //to-top --*/
/*-- gallery --*/
.w3ls_gallery_grids{
	padding-top:1em;
}
.agile_gallery_grid{
    margin-top: 2em;
    background: #fff;
}
.agile_gallery_grid p {
    font-size: 13px;
    text-align: justify;
    line-height: 26px;
    height: 170px;
    border-bottom: 5px solid #c1c1c1;
    padding: 10px;
    box-shadow: 0px 3px 11px #ccc;
}
.agile_gallery_grid1{
    position: relative;
}
.w3layouts_gallery_grid1_pos{
    background: #b06010;
    bottom: 45px;
    left: 45px;
    opacity: 0;
    padding:1em;
    position: absolute;
    right: 45px;
    text-align: center;
    top: 45px;
    visibility: hidden;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-ms-transform: scaleX(-1);
    -webkit-transition: all 0.8s ease;
    transition: all 0.8s ease;
}
.w3layouts_gallery_grid1_pos h3{
    font-size: 1.2em;
    letter-spacing: 2px;
    font-weight: 600;
    margin: 1em 0 .5em;
    padding-bottom: .5em;
    position: relative;
    text-transform: uppercase;
    color: #212121;
}
.w3layouts_gallery_grid1_pos p{
	color: #fff;
	line-height:2em;
	letter-spacing:1px;
}
.agile_gallery_grid:hover .w3layouts_gallery_grid1_pos{
    opacity: 1;
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
	-moz-transform: scaleX(1);
	-o-transform: scaleX(1);
	-ms-transform: scaleX(1);
}
.banner-bottom.gallery{
	padding:5em 0;
}
/*-- //gallery --*/
/*-- contact --*/
.typo, section.contact-w3ls, .w3_wthree_agileits_icons{
	padding:6em 0;
}
section.contact-w3ls p.contact-agile1 {
    font-size: 1em;
    letter-spacing: 1px;
    padding-bottom: 2em;
    color: #000;
}
section.contact-w3ls p.contact-agile1 strong {
    letter-spacing: 1.5px;
    color: #204b87!important;
    font-size: 1em;
    font-weight: 500;
}
section.contact-w3ls p.contact-agile1 a {
	color:#000;
}
section.contact-w3ls h4 {
    font-size: 2em;
    letter-spacing: 1px;
    color:#b06010;
    padding: 1em 0;
}
section.contact-w3ls p.contact-agile2 {
	font-size:16px;
	font-weight:normal;
	padding-bottom:20px;
	line-height:30px;
	color:#ffce14;
	text-align:center;
}
section.contact-w3ls label.contact-p1 {
    font-size: 1em;
    letter-spacing: 1px;
    font-weight: 300;
    color: #000;
    padding-bottom: 10px;
}
.form-group {
    margin-bottom:2em;
}
section.contact-w3ls p.help-block {
    color:#ff0500!important;
}
section.contact-w3ls input#name, section.contact-w3ls input#email, section.contact-w3ls input#phone  {
	height:45px;
}
section.contact-w3ls input#name, section.contact-w3ls input#email, section.contact-w3ls input#phone {
    font-size: 1em;
    color: #000;
    background-color: transparent;
    border-radius: 0;
    border: none;
    padding: 0.8em;
    border-bottom: 1px solid #ccc;
}
section.contact-w3ls button.btn.btn-primary {
    color: #fff;
    background-color: #204b87;
    border: 2px solid #204b87;
    font-size: 1.2em;
    padding: .7em;
    outline: none;
    width: 100%;
    letter-spacing: 1px;
    border-radius: 0;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
	transition:.5s all;
}
section.contact-w3ls button.btn.btn-primary:hover {
    background-color:#b06010;
    border: 2px solid #b06010;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
	transition:.5s all;
}
.book_date input::-webkit-input-placeholder {
	color: #fff !important;
} 
.book_date input:-moz-placeholder { /* Firefox 18- */
	color: #fff !important;  
} 
.book_date input::-moz-placeholder {  /* Firefox 19+ */
	color: #fff !important;  
} 
.book_date input:-ms-input-placeholder {  
	color: #fff !important;  
}
.footer-icons-agileinfo{
	margin: 3em 0;
}
.w3l-map iframe {
    width: 100%;
    height: 500px;
    margin-top: 1.5em;
    outline: none;
    border: none;
}
h4.w3l-contact {
    margin-bottom: 1.5em;
}
.con-top {
    margin-top: 4em;
}
/*-- //contact --*/
/*-- icons --*/
.codes a {
    color: #999;
}
.icon-box {
    padding: 8px 15px;
    background:rgba(149, 149, 149, 0.18);
    margin: 1em 0 1em 0;
    border: 5px solid #ffffff;
    text-align: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 13px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
    cursor: pointer;
} 
.icon-box:hover {
    background: #000;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	-moz-transition:0.5s all;
}
.icon-box:hover i.fa {
	color:#fff !important;
}
.icon-box:hover a.agile-icon {
	color:#fff !important;
}
.codes .bs-glyphicons li {
    float: left;
    width: 12.5%;
    height: 115px;
    padding: 10px; 
    line-height: 1.4;
    text-align: center;  
    font-size: 12px;
    list-style-type: none;	
}
.codes .bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
}
.codes .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	color: #777;
} 
.codes .bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}
h3.icon-subheading {
    font-size: 28px;
    color: #b06010 !important;
    margin: 30px 0 15px;
    font-weight: 600;
    letter-spacing: 2px;
}
h3.agileits-icons-title {
    text-align: center;
    font-size: 33px;
    color: #222222;
    font-weight: 600;
    letter-spacing: 2px;
}
.icons a {
    color: #999;
}
.icon-box i {
    margin-right: 10px !important;
    font-size: 20px !important;
    color: #282a2b !important;
}
.bs-glyphicons li {
    float: left;
    width: 18%;
    height: 115px;
    padding: 10px;
    line-height: 1.4;
    text-align: center;
    font-size: 12px;
    list-style-type: none;
    background:rgba(149, 149, 149, 0.18);
    margin: 1%;
}
.bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
	color: #282a2b;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	color: #015996;
} 
.bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}
@media (max-width:991px){
	h3.agileits-icons-title {
		font-size: 28px;
	}
	h3.icon-subheading {
		font-size: 22px;
	}
}
@media (max-width:768px){
	h3.agileits-icons-title {
		font-size: 28px;
	}
	h3.icon-subheading {
		font-size: 25px;
	}
	.row {
		margin-right: 0;
		margin-left: 0;
	}
	.icon-box {
		margin: 0;
	}
}
@media (max-width: 640px){
	.icon-box {
		float: left;
		width: 50%;
	}
}
@media (max-width: 480px){
	.bs-glyphicons li {
		width: 31%;
	}
    .navbar-header {
    width: 100%;
    margin: 0px auto !important;
}
.navbar-default .navbar-brand {
    margin-top: -35px;
}
 .navbar-header img {
    width: 90%;
   
}
.header-main {
    height: 75px;
    z-index: 99999;
    width: 100%;
    background: #fff;
    position: absolute;
    box-shadow: 0px 0px 11px #000;
}
}
@media (max-width: 414px){
	h3.agileits-icons-title {
		font-size: 23px;
	}
	h3.icon-subheading {
		font-size: 18px;
	}
	.bs-glyphicons li {
		width: 31.33%;
	}
}
@media (max-width: 384px){
	.icon-box {
		float: none;
		width: 100%;
	}
}
/*-- //icons --*/
.w3_wthree_agileits_icons.main-grid-border {
    padding: 6em 0;
}
/*--Typography--*/
.well {
    font-weight: 300;
    font-size: 14px;
}
.list-group-item {
    font-weight: 300;
    font-size: 14px;
}
li.list-group-item1 {
    font-size: 14px;
    font-weight: 300;
}
.typo p {
    margin: 0;
    font-size: 14px;
    font-weight: 300;
}
.show-grid [class^=col-] {
    background: #fff;
	text-align: center;
	margin-bottom: 10px;
	line-height: 2em;
	border: 10px solid #f0f0f0;
}
.show-grid [class*="col-"]:hover {
	background: #e0e0e0;
}
.grid_3{
	margin-bottom:2em;
}
.xs h3, h3.m_1{
	color:#000;
	font-size:1.7em;
	font-weight:300;
	margin-bottom: 1em;
}
.grid_3 p{
	color: #999;
	font-size: 0.85em;
	margin-bottom: 1em;
	font-weight: 300;
}
.grid_4{
	background:none;
	margin-top:50px;
}
.label {
	font-weight: 300 !important;
	border-radius:4px;
}  
.grid_5{
	background:none;
	padding:2em 0;
}
.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
    margin-bottom: 1em;
    color: #b06010;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 2px;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	border-top: none !important;
}
.tab-content > .active {
	display: block;
	visibility: visible;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	z-index: 0;
}
.badge-primary {
	background-color: #03a9f4;
}
.badge-success {
	background-color: #8bc34a;
}
.badge-warning {
	background-color: #ffc107;
}
.badge-danger {
	background-color: #e51c23;
}
.grid_3 p{
	line-height: 2em;
	color: #888;
	font-size: 0.9em;
	margin-bottom: 1em;
	font-weight: 300;
}
.bs-docs-example {
	margin: 1em 0;
}
section#tables  p {
	margin-top: 1em;
}
.tab-container .tab-content {
	border-radius: 0 2px 2px 2px;
	border: 1px solid #e0e0e0;
	padding: 16px;
	background-color: #ffffff;
}
.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	padding: 15px!important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	font-size: 0.9em;
	color: #999;
	border-top: none !important;
}
.tab-content > .active {
	display: block;
	visibility: visible;
}
.label {
	font-weight: 300 !important;
}
.label {
	padding: 4px 6px;
	border: none;
	text-shadow: none;
}
.alert {
	font-size: 0.85em;
}
h1.t-button,h2.t-button,h3.t-button,h4.t-button,h5.t-button {
	line-height:2em;
	margin-top:0.5em;
	margin-bottom: 0.5em;
}
li.list-group-item1 {
	line-height: 2.5em;
}
.input-group {
	margin-bottom: 20px;
}
.in-gp-tl{
	padding:0;
}
.in-gp-tb{
	padding-right:0;
}
.list-group {
	margin-bottom: 48px;
}
ol {
	margin-bottom: 44px;
}
h2.typoh2{
    margin: 0 0 10px;
}
@media (max-width:768px){
.grid_5 {
	padding: 0 0 1em;
}
.grid_3 {
	margin-bottom: 0em;
}
}
@media (max-width:640px){
h1, .h1, h2, .h2, h3, .h3 {
	margin-top: 0px;
	margin-bottom: 0px;
}
.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
	margin-bottom: .5em;
}
.progress {
	height: 10px;
	margin-bottom: 10px;
}
ol.breadcrumb li,.grid_3 p,ul.list-group li,li.list-group-item1 {
	font-size: 14px;
}
.breadcrumb {
	margin-bottom: 25px;
}
.well {
	font-size: 14px;
	margin-bottom: 10px;
}
h2.typoh2 {
	font-size: 1.5em;
}
.label {
	font-size: 60%;
}
.in-gp-tl {
	padding: 0 1em;
}
.in-gp-tb {
	padding-right: 1em;
}
}
@media (max-width:480px){
.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
	font-size: 1.2em;
}
.table h1 {
	font-size: 26px;
}
.table h2 {
	font-size: 23px;
	}
.table h3 {
	font-size: 20px;
}
.label {
	font-size: 53%;
}
.alert,p {
	font-size: 14px;
}
.pagination {
	margin: 20px 0 0px;
}
.grid_3.grid_4.w3layouts {
	margin-top: 25px;
}
}
@media (max-width: 320px){
.grid_4 {
	margin-top: 18px;
}
h3.title {
	font-size: 1.6em;
}
.alert, p,ol.breadcrumb li, .grid_3 p,.well, ul.list-group li, li.list-group-item1,a.list-group-item {
	font-size: 13px;
}
.alert {
	padding: 10px;
	margin-bottom: 10px;
}
ul.pagination li a {
	font-size: 14px;
	padding: 5px 11px;
}
.list-group {
	margin-bottom: 10px;
}
.well {
	padding: 10px;
}
.nav > li > a {
	font-size: 14px;
}
table.table.table-striped,.table-bordered,.bs-docs-example {
		display: none;
}
}
/*-- //typography --*/
.typo {
    padding: 5em 0;
}
.services.two {
    background: #fff;
    padding: 5em 0;
}
.stats-bottom.contact {
    padding: 5em 0; 
}
.wthree_services_grid_left h3{
    font-size: 2em;
    color: #212121;
    line-height: 1.5em;
    letter-spacing: 1px;
    font-weight: 700;
}
.wthree_services_grid_left h4 {
    font-size: 0.9em;
    letter-spacing: 8px;
    color:#b06010;
}
.wthree_services_grid_left h3 span{
	color:#efb312;
}
.wthree_services_grid_left p{
	color: #545454;
	line-height:2em;
	margin:2em 0;
}
.w3_agileits_more a {
    border-color: #efb312;
}
.w3_agileits_more a.link.link--kumya{
	color:#efb312;
}
.w3_agileits_more a:hover {
    border-color: #212121;
}
.agileits_w3layouts_service_grid{
	text-align:center;
}
.agile_service_grd {
    width: 80px;
    height: 80px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    background: #204b87;
    border-radius: 50%;
}
.agileits_w3layouts_service_grid:nth-child(4),.agileits_w3layouts_service_grid:nth-child(5),.agileits_w3layouts_service_grid:nth-child(6){
	margin-top:2em;
}
.agile_service_grd i{
    font-size: 2em;
    color: #fff;
    line-height: 2.5em;
}
.agileits_w3layouts_service_grid h4{
    font-size: 1.2em;
    color: #b06010;
    margin: 1em 0 .6em;
    padding: .3em 0;
    font-weight: 600;
    letter-spacing: 1px;
}
.agileits_w3layouts_service_grid p{
	    color: #545454;
	line-height:1.9em;
}
.agileits_w3layouts_service_grid:hover .agile_service_grd{
    -webkit-animation: fa-spin 3s infinite linear;
    animation: fa-spin 3s infinite linear;
	background:#b06010;
	border-color:#b06010;
}
.agileits_w3layouts_service_grid:hover .agile_service_grd i{
	color:#fff;
}
/*-- //services --*/

/*-- stats-bottom --*/
.agileinfo_services_grid1{
    padding:2em 2em 3em 2em;
	background:#f5f5f5;
	position:relative;
	border: 1px solid #e4e5e6;
}
.agileinfo_services_grid1_pos{
	position: absolute;
    width: 50px;
    height: 50px;
    background:#204b87;
    border-radius: 40px;
    bottom: -11%;
    right: 13%;
    text-align: center;
}
.agileinfo_services_grid1_pos span{
	color: #fff;
    font-size: 1em;
    top: 15px;
}
.agileinfo_services_grid1 h4{
    font-size: 1.2em;
    color: #262c38;
    line-height: 1.5em;
    position: relative;
    padding-bottom: .5em;
    letter-spacing: 1px;
    font-weight: 700;
}
.agileinfo_services_grid1 p{
	    color: #545454;
	    line-height:2em;
	    margin: 0.5em 0 0;
}
.agileinfo_services_grids{
	margin:5em 0 4em;
}
.agileinfo_services_grid:hover .agileinfo_services_grid1 h4:after,.agileinfo_services_grid:hover .agileinfo_services_grid1_pos{
	    background: #b06010;
}
.agileinfo_services_grid:hover .agileinfo_services_grid1_pos span{
	color: #fff;
}
/*-- //stats-bottom --*/
/*-- offer --*/
.agileits_heading_section h3 {
    color: #fff;
}
.offer {
    background: url(../images/banner-2.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: fixed;
    padding: 5em 0;
}
.wthree_head1{
	color:#fff;
}
.agileinfo_para1{
	color:#0d3172;
}
.agile_offer_grid_pos{
	position:absolute;
	top:0%;
	left:5%;
}
.agile_offer_grid_pos p{
	font-size: 7em;
    color: rgba(208, 114, 20, 0.58);
    font-weight: bold;
}
.agile_offer_grid h4{
	font-size: 1.5em;
    color: #fff;
	font-weight:600;
    text-transform: capitalize;
}
.agile_offer_grid p.w3_agileits_service_para{
	margin:2em 0 0;
	color:#fff;
	line-height:2em;
}
.agileits_w3layouts_offer_grid{
	position:relative;
}
/*-- //offer --*/
/*-- start-responsive-design --*/
@media (max-width:1440px){
}
@media (max-width:1366px){
	h3.w3l_header {
         font-size: 25px;
	}
	.banner ul li,.banner {
		height:500px!important;
	}
	.banner ul li:nth-child(1),.banner ul li:nth-child(2),.banner ul li:nth-child(3) {
		min-height:500px!important;
	}

}
@media (max-width: 1280px){
	.banner_wthree_agile_info {
		margin: 14% auto 0;
		width: 70%;
	}
	.banner_wthree_agile_info h3 {
    font-size: 2.7em;
}
	h3.w3l_header {
      font-size: 2.5em;
	}
	.navbar-nav > li > a {
		margin: 0 1em;
	}
	.banner ul li,.banner {
		height:580px!important;
	}
	.banner ul li:nth-child(1),.banner ul li:nth-child(2),.banner ul li:nth-child(3) {
		min-height:580px!important;
	}
	.w3_service_bottom_grid_pos h3 {
		font-size: 1.2em;
		line-height:2em;
	}
	.bannerbottomright {
    padding: 2em 2em 2em 2em;
}
}
@media (max-width: 1080px){
	.header {
      padding: 0.6em 0em;
	}
	.navbar-brand {
      margin-left: 0em;
	}
	.agileits_social_list li:nth-child(2) {
		margin: 0 1em;
	}
.w3ls_agile_header_inner {
    margin: 0 auto;
    text-align: center;
    width: 90%;
}
	.banner ul li,.banner {
		height:550px!important;
	}
	.banner ul li:nth-child(1),.banner ul li:nth-child(2),.banner ul li:nth-child(3) {
		min-height:550px!important;
	}
	.banner_wthree_agile_info {
		width: 87%;
	}
	.banner .left {
      left: 20px;
	}
	.banner .right {
      right:20px;
	}
	.navbar-nav {
		margin: 0.8em 0 0 2em;
	}
	.banner1 {
		min-height: 220px;
	}
	.w3layouts_header_right {
    width: 89%;
}
.w3layouts_gallery_grid1_pos {
    bottom: 20px;
    left: 20px;
    right: 20px;
    top: 20px;
}
}
@media (max-width: 1050px){
	.navbar-nav {
		margin: 0.8em 0 0 1em;
	}
	.banner ul li,.banner {
		height:550px!important;
	}
	.banner ul li:nth-child(1),.banner ul li:nth-child(2),.banner ul li:nth-child(3) {
		min-height:550px!important;
	}
}
@media (max-width: 1024px){
	.navbar-brand {
		height: 70px;
		font-size: .7em;
		line-height: 22px;
	}
	.banner ul li, .banner {
		height: 517px!important;
	}
}
@media (max-width: 991px){
	.navbar-brand {
		font-size: .65em;
		margin-left: 0.5em;
	}
	.menu--juliet .menu__item {
		font-size: 12px;
	}
	.navbar-nav > li > a {
		margin: 0 0.7em;
	}
	.agileinfo_social_icons {
		margin: 0.1em 1em 0 0;
	}
	.navbar-nav {
		margin: 0.5em 0 0 3em;
	}
	.banner ul li:nth-child(1), .banner ul li:nth-child(2), .banner ul li:nth-child(3) {
		min-height: 500px!important;
	}
	.banner ul li, .banner {
		height: 479px!important;
	}
	.popular-section-wthree {
    padding: 3em 0 2em;
}
.popular-grid {
    float: left;
    width: 50%;
    margin-bottom: 2em;
}
.popular-agileinfo {
    margin-top: 3em;
}
.team {
    padding: 3em 0;
}
.agile_inner_grids {
    margin-top: 3em;
}
.w3_agile_team_grid_info {
    padding: 1em 1em;
    width: 32%;
    float: left;
}
.feedback {
    padding: 3em 0;
}
.stats {
    padding: 3em 0;
}
.agileits-feedback-grids {
    margin-top: 3em;
}
.stats-info-1 {
    padding: 3em 1em 1em;
}
.agile_footer_grid {
    float: left;
    width: 33.33%;
}
.footer {
    padding: 3em 0 1em;
}
.services.two {
    padding: 3em 0;
}
.agileits_w3layouts_service_grid {
    text-align: center;
    float: left;
    width: 33.33%;
}
.agile_offer_grid {
    float: left;
    width: 33.33%;
}
.offer {
    padding: 3em 0;
}
.stats-bottom.contact {
    padding: 3em 0 0;
}
.agileinfo_services_grids {
    margin: 3em 0 0em;
}
.agileinfo_services_grid{
	margin-bottom:3em;
}
.typo, section.contact-w3ls, .w3_wthree_agileits_icons {
    padding: 3em 0;
}
.con-top {
    margin-top: 3em;
}
.w3_wthree_agileits_icons.main-grid-border {
    padding: 3em 0;
}
.typo {
    padding: 3em 0;
}
.w3_agile_gallery_grid {
    float: left;
    width: 33.33%;
}
.w3layouts_gallery_grid1_pos {
    padding: 0em;
}
.banner-bottom.gallery {
    padding: 3em 0;
}
}
@media (max-width: 800px){
	.banner1 {
		min-height: 175px;
	}
	.banner ul li,.banner {
		height:500px!important;
	}
	.banner ul li:nth-child(1),.banner ul li:nth-child(2),.banner ul li:nth-child(3) {
		min-height:500px!important;
	}
	.w3ls_agile_header_inner {
    width: 100%;
}
.navbar-nav > li {
    font-size: 13px;
}
.navbar-nav {
    margin: 0.5em 0 0 1em;
}
.agileits_social_list li:nth-child(2) {
    margin: 0 0em;
}
.navbar-nav > li > a {
    margin: 0 0.5em;
}
.w3layouts_header_right {
    width: 96%;
}
.banner_wthree_agile_info h3 {
    font-size: 2em;
}
.banner_wthree_agile_info {
    margin: 16% auto 0;
}
}
@media (max-width: 768px){
	.banner ul li,.banner {
		height:450px!important;
	}
	.banner ul li:nth-child(1),.banner ul li:nth-child(2),.banner ul li:nth-child(3) {
		min-height:450px!important;
	}
}
@media (max-width: 767px){
	.navbar-default .navbar-toggle {
		border-color: #fff;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #111;
	}
	.navbar-toggle {
		margin: 0.5em 0 0;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background-color: transparent;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border: none;
		position: absolute;
		width: 100%;
		    background: #161617;
		z-index: 999;
	}
	.navbar-right {
		margin: 0;
	}
	.navbar-nav {
		margin:0;
		text-align: center;
	}
	.navbar-nav > li > a {
		margin: 0;
		display: inline-block;
	}
	.navbar-default .navbar-nav > li > a {
		color: #fff;
	}
	.agileinfo_social_icons {
		margin: 0 0 1em;
		text-align: center;
		float: none;
	}
	.navbar-nav .open .dropdown-menu {
		background-color: #fff;
	}
	.navbar-nav .open .dropdown-menu {
		position: absolute;
		float: left;
		left: 38%;
	}
	.agile_gallery_grid {
		margin-top: 1em;
	}
	.w3ls_gallery_grids {
		padding-top: 0em;
	}
	.w3ls_banner_bottom_grids, .w3ls_service_grids {
		margin-top: 2em;
	}
	.navbar-brand {
		font-size: .7em;
		margin-left: 0;
		padding: 0px 0 0 0;
	}
	.nav > li {
		position: relative;
		display: block;
		margin-top: 10px;
	}
	.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
		color: #ffffff;
		background: none;
	}
.w3ls_agile_header_inner {
    width: 95%;
    padding: 1em 0;
}
.w3layouts_header_right {
    width: 94%;
}
.navbar-brand {
    height: 50px;
}
.stats-grid i {
    padding: 21px 0 0 0;
    width: 60px;
    height: 85px;
}
.numscroller {
    margin-left: 45px;
}
.stats-grid {
    width: 33.33%;
    float: left;
}
}
@media (max-width: 736px){
	h3.w3l_header, h2.w3l_header {
	   font-size: 2.5em;
	}
	h4.w3l-contact {
    margin-bottom: 0;
}
.con-top {
    margin-top: 1em;
}
.w3l-map iframe {
    height: 250px;
}
}
@media (max-width: 667px){
	.banner ul li, .banner {
		height: 407px!important;
	}
	.w3layouts_gallery_grid1_pos h3 {
    margin: 1em 0 0em;
    padding-bottom: 0;
}
}
@media (max-width: 640px){
	.banner1 {
		min-height: 137px;
	}
	.agileits_head {
		font-size: 2em;
	}
	.banner ul li, .banner {
		height: 385px!important;
	}
	.banner ul li:nth-child(1),.banner ul li:nth-child(2),.banner ul li:nth-child(3) {
		min-height:400px!important;
	}
.banner ol {
    bottom: 32px;
}
.w3layouts_gallery_grid1_pos {
    bottom: 10px;
    left: 10px;
    right: 10px;
    top: 10px;
}
}
@media (max-width: 600px){
	.navbar-brand {
		font-size: .7em;
		margin-left: 0;
	}
	.navbar-nav .open .dropdown-menu {
		left: 35%;
	}
	.agileits_w3layouts_banner_bottom_grid h4 {
		width: 95%;
	}
	.banner ul li, .banner {
		height: 359px!important;
	}
	.navbar-brand span {
		font-size: 11px;
		letter-spacing: 5px;
	}
	.banner ol {
    bottom: 0px;
	right:43%;
}
.w3_agile_team_grid_info h3 {
    font-size: 1.3em;
}
.stats-grid {
    width: 50%;
    float: left;
}
.agile_footer_grid {
    float: left;
    width: 100%;
    margin-bottom: 1.5em;
}
.agile_footer_grid h3, .wthree_footer_grid_right h3 {
    padding-bottom: 0;
    margin-bottom: 1em;
}
.agile_footer_grid p {
    margin-bottom: 1em;
}
.w3_agileits_footer_grids {
    margin: 1em 0;
}
p.bui {
    width: 100%;
}
}
@media (max-width: 568px){
	.banner1 {
		min-height: 125px;
	}
.w3_agile_team_grid_info {
    padding: 1em 7em;
    width: 100%;
}
.banner .right{
	right:1px;
}
.banner .left{
	left:1px;
}
.agile_offer_grid h4 {
    font-size: 1.4em;
}
.w3layouts_gallery_grid1_pos h3 {
    padding-bottom: 0;
}
}
@media (max-width: 480px){
	.navbar-brand {
		font-size: .7em;
		margin-left: 0;
	}
	.banner ul li,.banner {
		height:330px!important;
	}
	.banner ul li:nth-child(1),.banner ul li:nth-child(2),.banner ul li:nth-child(3) {
		min-height:330px!important;
	}
	.social_list_w3ls {
    margin-top: 1em;
}
.banner_wthree_agile_info h3 {
    font-size: 1.8em;
}
h3.w3l_header, h2.w3l_header {
    font-size: 2.3em;
}
.popular-agileinfo h4 {
    font-size: 1.4em;
}
.bannerbottomleft {
    min-height: 235px;
}
.bannerbottomright h3 {
    font-size: 2em;
}
.w3_agile_team_grid_info {
    padding: 1em 5em;
}
.agile_offer_grid {
    width: 100%;
    margin-bottom: 2em;
}
.w3layouts_gallery_grid1_pos {
    bottom: 40px;
    left: 40px;
    right: 40px;
    top: 40px;
}
.w3_agile_gallery_grid {
    float: left;
    width: 100%;
}
.w3layouts_gallery_grid1_pos {
    padding: 3em;
}
}
@media (max-width:440px){
	.banner ul li, .banner {
		height: 307px!important;
	}
}
@media (max-width: 414px){
	.banner ul li:nth-child(1), .banner ul li:nth-child(2), .banner ul li:nth-child(3) {
		min-height: 281px!important;
	}
	.banner ul li,.banner {
		height: 296px!important;
	}
	.popular-grid {
    width: 100%;
}
.w3_agile_team_grid_info {
    padding: 1em 2em;
}
.stats-grid {
    width: 100%;
    float: left;
    padding: 0 2em;
}
.wthree_footer_grid_right input[type="submit"] {
    width: 27%;
}
.wthree_footer_grid_right input[type="email"] {
    width: 67%;
}
.agileits_w3layouts_service_grid {
    text-align: center;
    float: left;
    width: 50%;
    margin-bottom: 1em;
}
.agileits_w3layouts_service_grid:nth-child(4), .agileits_w3layouts_service_grid:nth-child(5), .agileits_w3layouts_service_grid:nth-child(6) {
    margin-top: 0;
}
.w3layouts_gallery_grid1_pos {
    padding: 2em;
}
}
@media (max-width: 384px){
	.banner1 {
		    min-height: 140px;
	}
	.banner ul li,.banner {
		height:300px!important;
	}
	.banner ul li:nth-child(1),.banner ul li:nth-child(2),.banner ul li:nth-child(3) {
		min-height:300px!important;
	}
	.navbar-toggle {
    margin: 0.3em 0 0;
}
.wthree_footer_grid_right input[type="email"] {
    width: 66%;
}
.w3layouts_gallery_grid1_pos {
    padding: 1em;
}
}
@media (max-width: 375px){
	.navbar-brand {
		font-size: .65em;
		margin-left: 0;
	}
	.banner1 {
		min-height: 119px;
	}
	.banner ol {
		padding: 0 10px;
	}
	.stats-grid {
    padding: 0 1em;
}
}
@media (max-width: 320px){
  .navbar-brand > img {
    display: block;
        width: 70%;
    margin-top: -40px;
}
	.navbar-nav .open .dropdown-menu {
		left: 21%;
	}
	.banner ul li,.banner {
		height:240px!important;
	}
	.banner ul li:nth-child(1),.banner ul li:nth-child(2),.banner ul li:nth-child(3) {
		min-height:240px!important;
	}
	.banner ol li {
		width:8px;
		height:8px;
		float: left;
		margin: 5px 5px;
	}

	.banner ol {
		bottom: -22px;
		padding: 0 10px;
		right:35%;
	}
	.w3layouts_header_right ul li:last-child {
    margin-left: 0.6em;
}
.w3layouts_header_right ul li i {
    padding-right: 0.2em;
}
.w3ls_agile_header_inner {
    width: 95%;
    padding: 1em 0 0.3em;
}
.banner_wthree_agile_info h3 {
    font-size: 1.4em;
}
.bannerbottomright h3 {
    font-size: 1.8em;
}
.w3_agile_team_grid_info {
    padding: 1em 1em;
}
.popular-section-wthree {
    padding: 2em 0 0em;
}
.popular-agileinfo {
    margin-top: 2em;
}
.bannerbottomleft {
    min-height: 152px;
}
.team {
    padding: 2em 0 1em;
}
.agile_inner_grids {
    margin-top: 2em;
}
.feedback {
    padding: 2em 0;
}
.agileits-feedback-grids {
    margin-top: 2em;
}
h3.w3l_header, h2.w3l_header {
    font-size: 2em;
    line-height: 1.2em;
}
.stats {
    padding: 2em 0;
}
.stats-info-1 {
    padding: 2em 1em 1em;
	margin-top: 2em;
}
.agile_footer_grid h3, .wthree_footer_grid_right h3 {
    font-size: 1.4em;
}
.agile_footer_grid {
    padding: 0;
}
.wthree_footer_grid_right {
    padding: 0;
}
.services.two {
    padding: 2em 0;
}
.wthree_services_grid_left h3 {
    font-size: 1.7em;
}
.wthree_services_grid_left {
    padding: 0;
}
.wthree_services_grid_right {
    padding: 0;
}
.offer {
    padding: 1em 0 0;
}
.stats-bottom.contact {
    padding: 2em 0 0;
}
.agileinfo_services_grid {
    padding: 0;
}
.agileinfo_services_grids {
    margin: 2em 0 0em;
}
 section.contact-w3ls {
    padding: 2em 0;
}
.con-top {
    margin-top: 0em;
}
section.contact-w3ls h4 {
    font-size: 1.8em;
    padding: 0.7em 0;
}
.contact-w3-agile2 {
    padding: 0;
}
.contact-w3-agile1 {
    padding: 0;
}
.w3_wthree_agileits_icons.main-grid-border {
    padding: 2em 0;
}
.typo {
    padding: 2em 0;
}
.banner-bottom.gallery {
    padding: 2em 0;
}
.w3_agile_gallery_grid {
    padding: 0;
}
.w3layouts_gallery_grid1_pos {
    bottom: 25px;
    left: 25px;
    right: 25px;
    top: 25px;
}
}
#example2 ul li
{
    height:400px!important;
}
.test2
{
height: 186px;
}
.exam2
{
   height: 400px!important;
    position:none!important; 
}
.exam2 ul 
{

  
}
.exam2 ul li
{
  list-style: none!important;  
}
.exam ul li
{
line-height: 25px;
font-size: 13px;
text-align: justify;
}


.online-test
{
    cursor: pointer;
    background:#b5281f;
    text-align: center;
}

.online-test:hover
{
   background: #c12117;  
}
.lec-video:hover
{
   background: #064063;  
}

.lec-video
{
background: #00609a;
    height: 100px;
     padding: 37px;
    text-align: center;
       cursor: pointer;
}
.no-padding
{
    padding:0px;
}

.white
{
    background: #fff;
    color: #fff;
    font-size: 20px;
    padding: 5px;

}





/*  bhoechie tab */
div.bhoechie-tab-container{
  z-index: 10;
  background-color: #ffffff;
  padding: 0 !important;
  border-radius: 4px;
  -moz-border-radius: 4px;
  border:1px solid #ddd;
  margin-top: 20px;

  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  background-clip: padding-box;
  opacity: 0.97;
      margin-bottom: 100px;
  filter: alpha(opacity=97);
}
div.bhoechie-tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
div.bhoechie-tab-menu div.list-group{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a{
     margin-bottom: 0;
    padding: 35px;
    font-size:20px;

}
div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
  color: #5A55A3;
}
div.bhoechie-tab-menu div.list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa{
  background-color: #00a650;
  background-image: #5A55A3;
  color: #ffffff;
}
div.bhoechie-tab-menu div.list-group>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #00a650;
}

div.bhoechie-tab-content{
  background-color: #ffffff;
  /* border: 1px solid #eeeeee; */
  padding-left: 20px;
  padding-top: 10px;
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active){
  display: none;
}
